DATABASE_URL="postgresql://postgres:YOUR_DB_PASSWORD@db:5432/gmaps_reviews?schema=public"
POSTGRES_PASSWORD="YOUR_DB_PASSWORD"
SESSION_SECRET="CHANGE_ME_random_string_minimum_32_characters"
ADMIN_EMAIL=""
NEXT_PUBLIC_ADMIN_EMAIL=""
APP_PORT=3847
DB_PORT=5471
